body {
  font-family: Verdana, Geneva, Tahoma, sans-serif
}
/*Index*/
/*-----------------------------*/
/*Header*/
.header-wrapper{
  height: 100px;
  width: 100vw;
  background-color: lightslategray;
  margin-bottom: 20px;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;
  align-items: center;
}

.logo{
  height: 55%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 45px;
  color: white;
  font-family: cursive;
}

.navbar-wrapper {
  width: 40%;
  height: 100%;
}

.navbar {
  display: flex; flex-direction: row; justify-content: space-between; align-items: center; height: 55%;
}

.nav-item {
  list-style: none
}

/*Body*/
.lesson-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: space-between;
  flex-direction: row;
  flex-wrap: wrap;
  width: 85vw;
  height: 45vh;
  margin: auto;
}

.lesson-hider {
  width: 28vw;
  height: 10vh;
  list-style: none;
}

/*Lesson Hider*/
.card { 
  height: 10vh;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
  background-color: #EEE
}


